.logo{
font-size: 25px;
  color: white;
}
.logo:hover {
    text-decoration: underline;
    color: white;
    
    }


.nl{
    color: white;
  text-decoration: none;
  padding-left:5px;

}
.nl:hover {
text-decoration: underline;
color: white;

}





